{{define "content"}}
	<table style="width:100%;" border="1px">

		<tr>
			<th colspan="5">SCORES</th>
		</tr>		

		<tr>
			<th>Team Away</th>
			<th>Score</th>
			<th>Team Home</th>
			<th>Score</th>
			<th>Date</th>
		</tr>
		{{range .scoreResults}}
			<tr>
				<td>{{.TeamAway}}</td>
				<td>{{.TeamAwayScore}}</td>
				<td>{{.TeamHome}}</td>
				<td>{{.TeamHomeScore}}</td>
				<td>{{.Date}}</td>
			</tr>
		{{else}}
		<tr><td colspan="5">No scores to display</td></tr>
	{{end}}
	</table>
{{end}}
